$primaryColor: rgb(243, 243, 243);
$header-footer-bg: #fff;
$menu-text-color: #333;
$menu-text-hover-color: #b49135;
$content-width: 1200px;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

main{
    width: $content-width;
    margin: auto;
    background-color: $primaryColor;
}

body{
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.site-message{
    width: 100%;
    height: auto;
    line-height: 20px;
    text-align: center;
    background-color: $menu-text-hover-color;
    padding: 10px 0 10px 0;
    span, p{
        margin: 0;
        color: #fff;
    }
}

header{
    background-color: $header-footer-bg;
    width: 100%;
    height: 100px;
    justify-content: flex-start;
    display: flex;
    align-items: center;

    & .column-50{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .logo {
            height: 80px;
            width: auto;
            margin-top: 6px;
            margin-bottom: 6px;
            margin-left: 50px;
        }

        & nav{
            display: flex;
            align-items: center; 
            margin-left: auto; 
            margin-right: 50px;

            & ul{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex; 
            }

            & li{
                margin-right: 16px;
            }

            & a{
                text-decoration: none;
                color: $menu-text-color;
                font-weight: map-get($font-weights , bold);
                font-size: 16px;
                transition: color 0.3s ease;

                &:hover{
                    color: $menu-text-hover-color;
                }
            }
        }
    }

   
}




footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: auto;
    align-items: center;
    text-align: center;

    .footer-left,
    .footer-center,
    .footer-right {
        text-align: center;
        padding: 50px;

        .company-details{
            background-color: #fff;
            margin: 50px 0 0 0;
            span{
                text-align: center;
                font-weight: map-get($font-weights , medium);
            }
        }

        .menu{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    margin: 10px 0;
                    position: relative;
                }
            }
        }

        .menu_social {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;

                li {
                    margin: 10px 0;
                    position: relative;
                    display: flex;

                    a {
                        text-decoration: none;
                        color: transparent;
                        font-weight: bold;
                        font-size: 14px;
                        display: inline-block;
                        position: relative;
                        margin-bottom: 8px;
                        

                        &:before {
                            content: "";
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            margin-right: 10px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }

                    &.facebook a:before {
                        background-image: url("assets/images/facebook.png");
                        background-size: contain;
                        background-position: center center;
                    }

                    &.instagram a:before {
                        background-image: url("assets/images/instagram.png");
                        background-size: contain;
                        background-position: center center;
                    }

                    &.tiktok a:before {
                        background-image: url("assets/images/tiktok.png");
                        background-size: contain;
                        background-position: center center;
                    }
                }
            }
        }
    }

    & .menu a{
        text-decoration: none;
        color: $menu-text-color;
        font-weight: map-get($font-weights , bold);
        font-size: 14px;
        transition: color 0.3s ease;
        padding-left: 35px;

        &:hover{
            color: $menu-text-hover-color;
        }
    }

    & .logo{
        height: 80px;
        width: auto;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    & .copyright{
        grid-column: span 3;
        margin-top: 10px;
        background-color: #333;
        color: #fff;
        margin-bottom: -3px;
    }
}

.logo-om-oss{
    padding: 20px 0 20px 0;
}


.is-style-default{
    padding-left: 80px;
}


@media only screen and (max-width: 768px) {
    header{
        & .column-50{
            flex-direction: column;
            align-items: flex-start;

            .logo{
                margin-left: 20px;
            }

            nav{
                margin-right: 10px;
            }
        }
    }
    footer{
        .menu li{
            margin-right: 12px;
        }
    } 
}

@media only screen and (max-width: 480px){
    header{
        height: auto;
        .column-50{
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            .logo{
                margin-left: 0;
                margin-bottom: 10px;
            }
            nav{
                margin-right: 0;
                margin-top: 10px;
            }
        }
    }

    footer{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;

        .footer-left,
        .footer-center,
        .footer-right {
            text-align: center;
            padding: 20px;
        }
        .menu{
            margin-bottom: 10px;
            li{
                margin: 10px ;
            }
        }
        .logo{
            margin-top: 6px;
            margin-bottom: 6px;
        }
        .social-media-icons{
            margin-right: 0;
        }
        .copyright{
            width: 100%;
        }


    }
}