@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --lorem-background: #000;
  --lorem-margin: 0 10%;
  --lorem-small-text: #bdbdbd;
  --lorem-text: #333;
  --lorem-text: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--lorem-text);
}

a {
  text-decoration: none;
}

.general-text {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  margin-top: 20px;
}

.title-top {
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: var(--lorem-small-text);
  margin-bottom: 0;
}

.title-bottom {
  color: var(--lorem-text);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 90px;
}

div.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 11%;
  padding: 2.2% 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  list-style-type: none;
  width: 770px;
  text-align: left;
}

.menu a {
  color: var(--lorem-text);
}

.menu-item {
  margin: 0 12px;
  padding: 4px 0;
}

#primary-menu .main-select {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding-left: 14px;
  padding-right: 14px;
}

header .logo {
  height: 41px;
}

.column h1 {
  text-align: center;
}

.content {
  margin: var(--lorem-margin);
}

.block-1-home {
  display: flex;
}

.block-1-home-left {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.block-1-home-left .home-buttons {
  width: 53px;
  height: 53px;
  border: 1px solid #f2f2f2;
  background: #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.block-1-home-left .home-buttons a {
  padding: 0;
}

.block-1-home-left .home-numbers {
  margin-top: 90px;
  margin-bottom: 12%;
  width: 141px;
}

.block-1-home-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-one-home-right-button {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  width: 222px;
  height: 71px;
  background-color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.block-one-home-right-button a {
  border: none !important;
}

.block-2-home {
  background-color: #fbfbfb;
  width: 100%;
  height: 435px;
  flex-shrink: 0;
  margin-top: 120px;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 100px;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.block-2-home .block-2-home-column {
  margin: 0;
}

.block-2-home .block-2-home-column .block-2-home-images {
  width: 100%;
}

.block-2-home .block-2-home-column .block-2-home-images.block-2-home-images-1 {
  margin-bottom: 30px;
}

.block-2-home .block-2-home-column-3 {
  height: 110%;
}

.block-3-home {
  margin-top: 120px;
}

.block-3-home .block-3-home-container {
  margin-top: 60px;
  gap: 0;
}

.block-3-home .block-3-home-numbers {
  color: var(--Gray-6, #f2f2f2);
  font-size: 200px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: fit-content;
}

.block-3-home .block-3-home-text {
  color: var(--lorem-text);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-top: 40px;
}

.block-3-home {
  margin-top: 120px;
}

.sampleproject-div {
  position: relative;
  background: url("assets/images/shortcodes-image.png") no-repeat center center;
  width: 100%;
  height: 100%;
}

.sampleproject-div .opacity-div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: var(--Gray-1, #333);
  z-index: 1;
}

.sampleproject-div .content-container {
  position: absolute;
  width: 233px;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 79px;
}

.sampleproject-div .content-container h1 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.sampleproject-div div a p {
  color: #fff;
  font-family: "Gothic A1", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-top: 14px;
}
